<%= form_for @user, @action, [as: :user], fn f -> %>

<%= if @user.action do %>
<div class="action action-alert">
Errors, bro
</div>
<% end %>

<%= label f, :username %>
<%= text_input f, :username %>
<%= error_tag f, :username %>

<%= label f, :password %>
<%= text_input f, :password %>
<%= error_tag f, :password %>

<%= submit "Create User" %>

<% end %>
